<h1>Create New To-Do Item</h1>

<%= simple_form_for [@property, @tenancy] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :email %>
  <%= f.button :submit %>
<% end %>
