<div class="d-none">
  <h3>Edit the Task</h3>
  <%= render "taskform", task: @task, property: @property %>
  <%= link_to "Delete Task",
              task_path(@task),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task?"},
              class: "btn btn-danger"
  %>
</div>

<div class="d-none">
  <h3>Add a subtask Task</h3>
  <%= render 'subtasks/subtaskform', task: @task, subtask: @subtask %>
</div>

<h3>Subtasks</h3>
<div class="d-none">
<%= render 'subtasks/subtask', subtasks: @subtasks %>
</div>

<div>
  <%= render 'taskaccordian', task: @task %>
</div>
<%# task accordian with details about the task and its subtasks. %>
