<div class="accordion p-3" id="accordionPanelsStayOpenExample">

  <% if task.subtasks.any? %>
    <% task.subtasks[0..2].each_with_index do |subtask, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading-S<%=index%>">
          <button class="accordion-button collapsed" type="button"  style="<%= subtask.completed ? "background-color:#46e870" : "" %>;" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-S<%=index%>" aria-expanded="false" aria-controls="panelsStayOpen-collapse-S<%=index%>">
            Subtask #<%= index + 1%>: <%= subtask.title %>
          </button>
        </h2>
        <div id="panelsStayOpen-collapse-S<%= index%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-S<%= index%>">
          <div class="accordion-body">
            <strong><%= subtask.title %></strong>
            <br>
            <%= subtask.description %>
            <%= link_to subtask.completed ? "✅" : "⬜️", subtask_path(subtask, completed: !subtask.completed), data: {turbo_method: :patch} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <%# this button calls down a modal to add a subtask. %>
  <%# <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#subtaskModal">ADD SUBTASK</button> %>
</div>
