<%# This code connects the div below to the map_controller %>
<div class="container mt-5">

  <div style="width: 100%; height: 450px; border: 5px solid white;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>

  <div class="cards row mt-4" id="properties">
    <% @properties.each do |property| %>
      <%= link_to property_path(property.id), class:"col-4 mb-4" do %>
        <div class="card-product mt-0">

          <%# image from cloudinary %>
          <% if property.images.attached? %>
            <%= cl_image_tag property.images.first.key, crop: :fill %>
          <% else %>
            <%= image_tag 'logo.png', crop: :fill %>
          <% end %><%# end of image from cloudinary %>

          <div class="card-product-infos">
            <div class="property-name" style="text-decoration: none">
              <h2>
                <i class="fa-solid fa-house-chimney basic" style="margin-right: 4px;"></i>
                <%= property.name.titleize %>
              </h2>
            </div>
            <div class="property-details">
              <p>
                <i class="fa-solid fa-location-dot basic" style="margin-right: 4px;"></i>
                <%= property.address %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <button class="btn btn-primary float" data-bs-toggle="modal" data-bs-target="#propertyModal">
    <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
  </button>

</div>

<%= render 'modal' %>

<!---
  the test version
  <%# This is the list of all the properties that user owns. %>

  <h1>Add a property</h1>
  <%# rendering the form to create a property %>
  <%#= render 'propertyform', property: @property  %>

  <h1>Properties#index</h1>
  <p>Find me in app/views/properties/index.html.erb</p>

  <%# Profile Image Logic %>
  <% if current_user.profile_picture.attached? %>
    <%# cloundinary image tag %>
    <%= cl_image_tag current_user.profile_picture.key, width:200, height: 200, crop: :fill %>
  <% else %>
    <%# TODO: replace the code below with a placeholder image saved as png in asset file. %>
    <h5>No profile picture</h5>
  <% end %>


  <%# TODO: Refactor code to render cards showing all properties. %>
  <div id="properties">
    <ul>
      <% @properties.each do |property| %>
        <li><h3><%= property.name %></h3></li>
        <p>
          <%= link_to "Show property", property %>
        </p>

        <h2>Edit Your Property</h2>
        <%# rendering the form partial to update a property %>
        <%= render 'propertyform', property: property %>

        <%= link_to "Delete Property",
              property_path(property),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task?"},
              class: "btn btn-danger"
        %>
      <% end %>
    </div>

  </div>
--->
