<div class="container d-flex flex-column">
  <div class="d-flex m-0 justify-content-between">


    <div class=" col-7 property-show-banner position-relative mt-5"
      data-controller = "editbutton" data-action="mouseover->editbutton#showbtn mouseleave->editbutton#hidebtn">
      <%# rendering image carousel %>
      <%= render 'imagecarousel', property: @property, class: "p-3"%>
      <%# property details %>
      <div class="property-banner-text">
        <h2><%= @property.name %></h2>
        <h6>-------------------------</h6>
        <h6><i class="fa-solid fa-house"></i><%= @property.property_type.upcase %></h6>
        <h6><i class="fa-solid fa-location-dot"></i> <%= @property.address.upcase %></h6>
        <h6>-------------------------</h6>
        <p><%= @property.description.capitalize %></p>
        <%# button to edit property details. %>
        <button class= 'btn btn-secondary text-center btn-round position-absolute d-none'
                data-bs-toggle="modal"
                data-bs-target="#propertyModal"
                data-editbutton-target = "editBtn"
                style ="top:16px; right:16px;"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>
      </div>
    </div>

    <%# map for a single property %>
    <div
      class = "col-4 mt-5 map"
      style = "border-radius: 10px;"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>


  <%# tab functionality added %>
  <div class="mt-3" data-controller="tab">

    <div class="d-flex mb-3 w-full">
      <button class="btn btn-primary col-4 text-light" data-tab-target="taskButton" data-action="click->tab#showtask">Tasks</button>
      <button class="btn btn-light col-4" data-tab-target="docButton" data-action="click->tab#showdoc">Documents</button>
      <button class="btn btn-light col-4" data-tab-target="tenancyButton" data-action="click->tab#showtenancy">Tenancy</button>
    </div>

    <%# this code below allows us to render the carousel to see our documents. %>
    <div class="documents-block position-relative d-none col-12" data-tab-target="documents">
      <div class="document-block-bg row m-0">
        <h2>DOCUMENTS</h2>
        <div class="document-scrollable-carousel col-12 row flex-nowrap p-0">

          <% if @property.documents.any? %>
            <%= render 'documents/document', documents: @property.documents %>
          <% else %>
            <p>You have no documents.</p>
          <% end %>

        </div>
          <button class= 'document-add-button btn btn-primary text-center' data-bs-toggle="modal" data-bs-target="#documentModal">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
          </button>
      </div>
    </div>

    <%# tasks container %>
    <div class="tasks-container position-relative" data-tab-target="tasks">
      <h2>TASKS</h2>
        <%# button to add tasks %>
        <button class= 'btn btn-primary text-center btn-round position-absolute'
                data-bs-toggle="modal" data-bs-target="#taskModal"
                style="top:16px; right:16px;"
        >
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        </button>
        <% if @property.tasks.any? %>
          <%= render 'task_subtask_accordion', property: @property %>
        <% else %>
          <p>You have no tasks.</p>
        <% end %>
    </div>

    <%# tenancy container %>
    <div class="tasks-container position-relative d-none" data-tab-target="tenancies">
      <h2>TENANCY DETAILS</h2>
        <%# button to add tasks %>
        <button class= 'btn btn-primary text-center btn-round position-absolute'
                data-bs-toggle="modal" data-bs-target="#tenancyModal"
                style="top:16px; right:16px;"
        >
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        </button>
        <% if @property.tenancies.any? %>
          <%= render 'tenancy_details', property: @property %>
        <% else %>
          <p>You have no tenancies.</p>
        <% end %>
    </div>
  </div>

  <%# This button handles opening the chatroom. %>
  <button class="btn btn-primary float" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
          aria-controls= "offcanvasTop">
    <i class="fa-regular fa-message" style="color: #ffffff;"></i>
  </button>



  <button class="btn btn-primary float" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasTop" aria_controls = "offcanvasTop"
  >
    <i class="fa-regular fa-message" style="color: #ffffff;"></i>
  </button>

  <%= render 'modal' %><%# Property Form Modal %>
  <%= render 'documents/modal' %><%# ADD Document Form Modal %>
  <%= render 'tasks/modal' %><%# ADD Task Form Modal %>
  <%= render 'tenancies/modal' %>

  <div class="offcanvas offcanvas-top" tabindex="1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasTopLabel"></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <%= render 'chatrooms/chat'  %>
<<<<<<< HEAD
    </div>
  </div>
=======
  </div>

>>>>>>> 2542c85481c9b896a63199cd9ee4fc622e17477a
</div>
