<div class="d-flex m-0">

  <div class=" col-8 property-show-banner position-relative mt-5"
    data-controller = "editbutton" data-action="mouseover->editbutton#showbtn mouseleave->editbutton#hidebtn">
    <%# rendering image carousel %>
    <%= render 'imagecarousel', property: @property, class: "p-3"%>
    <%# property details %>
    <div class="property-banner-text">
      <h2><%= @property.name %></h2>
      <h6>-------------------------</h6>
      <h6><i class="fa-solid fa-house"></i><%= @property.property_type.upcase %></h6>
      <h6><i class="fa-solid fa-location-dot"></i> <%= @property.address.upcase %></h6>
      <h6>-------------------------</h6>
      <p><%= @property.description.capitalize %></p>
      <%# button to edit property details. %>
      <button class= 'btn btn-secondary text-center btn-round position-absolute d-none'
              data-bs-toggle="modal"
              data-bs-target="#propertyModal"
              data-editbutton-target = "editBtn"
              style ="top:16px; right:16px;"
      >
        <i class="fa-solid fa-pencil"></i>
      </button>
    </div>
  </div>

  <%# map for a single property %>
  <div
    class = "col-4 mt-5 map"
    style = "border-radius: 10px;"
    data-controller="map"
    data-map-marker-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>


<%# tab functionality added %>
<div class="m-3" data-controller="tab">
  <div class="row mb-3">
    <button class="btn btn-primary col-4 text-light" data-tab-target="taskButton" data-action="click->tab#showtask">Tasks</button>
    <button class="btn btn-light col-4" data-tab-target="docButton" data-action="click->tab#showdoc">Documents</button>
    <button class="btn btn-light col-4" data-tab-target="tenancyButton" data-action="click->tab#showtenancy">Tenancy</button>
  </div>

  <%# this code below allows us to render the carousel to see our documents. %>
  <div class="documents-block position-relative d-none" data-tab-target="documents">
    <h1>MY DOCUMENTS</h1>
    <div class="row m-0">
      <div class="document-scrollable-carousel col-12 row flex-nowrap">
        <%= render 'documents/document', documents: @property.documents %>
        <%# Align Button element%>
      </div>
        <button class= 'document-add-button btn btn-primary text-center' data-bs-toggle="modal" data-bs-target="#documentModal">
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        </button>
    </div>
  </div>

  <div class="tasks-container position-relative" data-tab-target="tasks">
    <h2>TASKS</h2>
      <%# button to add tasks %>
      <button class= 'btn btn-primary text-center btn-round position-absolute'
              data-bs-toggle="modal" data-bs-target="#taskModal"
              style="top:16px; right:32px;"
      >
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
      </button>

      <%= render 'task_subtask_accordion', property: @property %>
  </div>

  <div class="tasks-container position-relative d-none" data-tab-target="tenancies">
    <h2>TENANCY</h2>
      <%# button to add tasks %>
      <button class= 'btn btn-primary text-center btn-round position-absolute'
              data-bs-toggle="modal" data-bs-target="#taskModal"
              style="top:16px; right:32px;"
      >
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
      </button>

      <%= render 'task_subtask_accordion', property: @property %>
  </div>
</div>



<%#= render 'documents/documentform', property: @property, document: @document %>
<%#= render "tasks/taskform", task: @task, property: @property %>
<%#
   <%= link_to "Delete Task",
              task_path(@task),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task?"},
              class: "btn btn-danger"
  %>

<%= render 'modal' %><%# Property Form Modal %>
<%= render 'documents/modal' %><%# ADD Document Form Modal %>
<%= render 'tasks/modal' %><%# ADD Task Form Modal %>
