
  <div class="property-show-banner w-100">
    <%= render 'tasks/imagecarousel' %>
    <div class="property-banner-text">
      <h1><%= @property.name %></h1>
      <p><%= @property.description %></p>
    </div>
  </div>

  <%# this code below allows us to render the carousel to see our documents. %>
  <div class="documents-block">

    <h1>My Documents</h1>

    <div class="row">
      <div class="document-scrollable-carousel col-12 row flex-nowrap">
        <%= render 'documents/document', documents: @property.documents %>
        <%# TODO: Align Button element%>
      </div>
      <div class="document-add-button">
        <button class= 'btn btn-primary'>
          <h4 class="text-center"> + </h4>
        </button>
      </div>
    </div>


  </div>

  <%= render 'documents/documentform', property: @property, document: @document %>
  <div class="tasks-container">
    <h2>Tasks</h2>

  </div>



  <%#= render "tasks/taskform", task: @task, property: @property %>
<%#
   <%= link_to "Delete Task",
              task_path(@task),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the task?"},
              class: "btn btn-danger"
  %>
